[user]
	email = eric.zjp.chow@gmail.com
	name = Eric Chow
	username = chowkapow
[alias]
	st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
