[user]
	email = e.chow@accenture.com
	name = Eric Chow
	username = e.chow
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true