[user]
	email = eric.zjp.chow@gmail.com
	name = Eric Chow
[alias]
	st = status
	cmsg = commit -m
	cam = commit -am
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
